In [2]:
import pandas as pd

### Series结构的增删改查

In [3]:
data = [10,11,12]
index =['a', 'b', 'c']
s = pd.Series(data = data,index = index)
s

a    10
b    11
c    12
dtype: int64

#### 查 ： 根据索引的行、索引的名称、bool索引

In [4]:
s[0]

10

In [5]:
s[:2]

a    10
b    11
dtype: int64

In [6]:
s['a']

10

In [74]:
mask = s >10
s[mask]

b    11
c    12
dtype: int64

#### 查 ： 根据loc[]索引名称         .iloc[]索引行数

In [8]:
s.loc['a']

10

In [9]:
s.iloc[1]

11

In [10]:
s1 = s.copy()

#### 改

In [11]:
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [12]:
s2 = s1.replace(to_replace= 100, value = 101,inplace = False)
s2

a    101
b     11
c     12
dtype: int64

In [13]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [14]:
s1.index = ['a', 'b', 'd']

In [15]:
s1

a    100
b     11
d     12
dtype: int64

In [16]:
s1.rename(index = {'a' : 'A'},inplace = True)
s1

A    100
b     11
d     12
dtype: int64

#### 增,append(ignore_index = True 重新排序index)

In [17]:
s2 = pd.Series(data = [100,50,30],index = ['g','h','a'])

In [18]:
s1 = s1.append(s2,ignore_index=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_27728\1922510701.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1 = s1.append(s2,ignore_index=False)

In [19]:
s1['j'] = 500
s1

A    100
b     11
d     12
g    100
h     50
a     30
j    500
dtype: int64

#### 删

In [23]:
s1

b     11
d     12
g    100
h     50
a     30
j    500
dtype: int64

In [25]:
del s1['b']
s1

d     12
g    100
h     50
a     30
j    500
dtype: int64

In [30]:
s1.drop(['h'],inplace = True)

In [31]:
s1

a     30
j    500
dtype: int64

### DataFrame结构的增删改查

In [33]:
data = [[1,2,3],[4,5,6]]
index = ['a', 'b']
columns = ['A','B','C']

df = pd.DataFrame(data = data, index = index, columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

#### 查

In [34]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [35]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [36]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

#### 改

In [39]:
df.loc['a'] = [7, 8, 9]
df.loc['a']['A']=150
df

     A  B  C
a  150  8  9
b    4  5  6

In [41]:
df.index = ['f', 'g']
df

     A  B  C
f  150  8  9
g    4  5  6

#### 增

In [45]:
df.loc['a'] = [3,2,1]
df

     A  B  C
f  150  8  9
g    4  5  6
h    3  2  1
a    3  2  1

In [46]:
data = [[1,2,3],[4,5,6]]
index = ['j', 'k']
columns = ['A','B','C']

df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [50]:
df3 = pd.concat([df,df2],axis = 0)
df3

     A  B  C
f  150  8  9
g    4  5  6
h    3  2  1
a    3  2  1
j    1  2  3
k    4  5  6

In [56]:
df2['D'] = [1.2,3]
df2

   A  B  C    D
j  1  2  3  1.2
k  4  5  6  3.0

In [60]:
df4 = pd.DataFrame([[100,200],[300,400]], index = ['j','k'],columns=['F','G'])
df4

     F    G
j  100  200
k  300  400

In [63]:
df5 = pd.concat([df2,df4],axis=1)
df5

   A  B  C    D    F    G
j  1  2  3  1.2  100  200
k  4  5  6  3.0  300  400

#### 删

In [66]:
df5.drop(['j'], axis = 0)

   A  B  C    D    F    G
k  4  5  6  3.0  300  400

In [67]:
del df5['F']

In [68]:
df5

   A  B  C    D    G
j  1  2  3  1.2  200
k  4  5  6  3.0  400

In [72]:
df5.drop(['A','B','C'], axis = 1)

     D    G
j  1.2  200
k  3.0  400