In [1]:
import pandas as pd

In [22]:
left = pd.DataFrame(data = [[1,2],[3,4]],  columns= ['A', 'B'])

In [41]:
right = pd.DataFrame(data = [[2,6],[5,8]],  columns= ['B', 'D'])

In [42]:
left

   A  B
0  1  2
1  3  4

In [43]:
right

   B  D
0  2  6
1  5  8

In [45]:
pd.merge(left,right,on='B',how = 'outer', indicator= True)

     A  B    D      _merge
0  1.0  2  6.0        both
1  3.0  4  NaN   left_only
2  NaN  5  8.0  right_only

In [46]:
pd.merge(left,right,on='B',how = 'left', indicator= True)

   A  B    D     _merge
0  1  2  6.0       both
1  3  4  NaN  left_only

In [47]:
pd.merge(left,right,on='B',how = 'right', indicator= True)

     A  B  D      _merge
0  1.0  2  6        both
1  NaN  5  8  right_only